<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload File</title>
</head>

<body>
<header class="navbar">
  <form action="/select" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Chooose Your File <input type="file" name="image" value="choose your file" style="height: 10.5em; width: 15em">
      </span>
    <input type="submit" value="Upload your image" class="btn btn-primary" style="height: 10.5em; width: 15em">
  </form>
</header>

</body>
</html>

